.v-application {
  background: transparent !important;
}

body {
  margin: 0;
}

.timer.v-input {
  padding-top: 0;
  margin-top: 0;
}
.timer.v-input input {
  font-size: 4em;
  font-weight: 700;
  max-height: none;
  padding: 0;
}
