@font-face {
  font-family: "Regen";
  src: url("../../res/font/Regen.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Digital-7 Mono";
  src: url("../../res/font/Digital-7Mono.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.mt-font {
  color: white;
  line-height: 1.2;
  font-family: "Regen";
  text-shadow: -2px 0 1px #000000, 0 2px 1px #000000, 2px 0 1px #000000, 0 -2px 1px #000000;
}

html, body {
  margin: 0;
}
html.graphic, body.graphic {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}

.select-img-wrap {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.select-img-wrap:hover {
  cursor: pointer;
}
.select-img-wrap:hover .select-img-border {
  border-width: 1px;
  border-color: white;
}
.select-img-wrap.active .select-img-border {
  border-width: 4px;
  border-color: #00BEBE;
}

.select-img-border {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.7);
  transition: all 0.1s;
}

.select-img {
  max-height: 200px;
  max-width: 200px;
  display: block;
}

.theme--dark.v-tabs-items {
  background-color: transparent !important;
}

.checkerboard {
  background: #eee url('data:image/svg+xml,    <svg xmlns="http://www.w3.org/2000/svg" width="400" height="400"         fill-opacity=".25" >             <rect x="200" width="200" height="200" />             <rect y="200" width="200" height="200" />             </svg>') !important;
  background-size: 16px 16px !important;
}

.player-card-preview {
  height: 750px;
  padding: 3em;
  display: inline-block;
}
.player-card-preview canvas {
  height: 100%;
}

.timer.theme--dark.v-input input {
  color: #999;
  transition: color 0.3s;
}
.timer.theme--dark.v-input.active input {
  color: #fff;
}
