@font-face {
    font-family: 'Regen';
      src:  url('../font/Regen.ttf.woff') format('woff'),
      url('../font/Regen.ttf.svg#Regen') format('svg'),
      url('../font/Regen.ttf.eot'),
      url('../font/Regen.eot?#iefix') format('embedded-opentype');
      font-weight: normal;
      font-style: normal;
}

@font-face {
    font-family: 'Digital-7 Mono';
    src: url('../font/Digital-7Mono.eot');
    src: url('../font/Digital-7Mono.eot?#iefix') format('embedded-opentype'),
        url('../font/Digital-7Mono.woff') format('woff'),
        url('../font/Digital-7Mono.svg#Digital-7Mono') format('svg');
    font-weight: normal;
    font-style: normal;
}

.mt-font {
    color: white;
    line-height: 1.2;
    font-family: "Regen";
    text-shadow: -2px 0 1px #000000, 0 2px 1px #000000, 2px 0 1px #000000, 0 -2px 1px #000000;
}

body {
    margin: 0;
    position: absolute;
    background: url("../img/back_2player.png");
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
}

.player-name {
    font-size: 2rem;
    position: absolute;

    &.right {
        text-align: right;
    }

    .name {
        overflow-wrap: break-word;

        span {
            width: 100%;
        }
    }
}

.player-done-slider {
    position: absolute;
    overflow: hidden;
    height: 95px;

    .timer {
        font-size: 4rem;
        transform: translateY(-95px);
        transition: transform 0.3s;
    }

    &.active .timer {
        transform: translateY(0px);
    }

    &.done .timer {
        color: lightgreen;
    }

    &.forfeit .timer {
        color: lightcoral;
    }
}

.timer {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-family: 'Digital-7 Mono';
    text-shadow: 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000, -3px 0 0 #000;
    font-size: 6rem;
    color: grey;
    font-variant-numeric: tabular-nums lining-nums;
    transition: color 0.4s;

    &.active {
        color: white;
    }
}


$boxartSize: 200px;
.game-box {
    position: absolute;
    display: flex;
    align-items: flex-end;
    font-size: 3rem;
    height: $boxartSize;
    max-width: 900px;

    .boxart {
        margin-right: 15px;
        img {
            margin: 0 auto;
            height: $boxartSize;
            max-width: 500px;
        }
    }

    .text {
        margin-bottom: 10px;

        .submitter {
            font-size: 0.6em;
        }
    }
}