body {
    margin: 0;
}

.timer.v-input {
    padding-top: 0;
    margin-top: 0;

    input {
        font-size: 4em;
        font-weight: 700;
        max-height: none;
        padding: 0;
    }
}

.select-img {
    max-height: 100px;
    max-width: 100px;
    margin: 0 auto;
    display: block;
}

.select-img-wrap {
    width: 100px;
    margin-right: 1em;
}

.theme--dark.v-tabs-items {
    background-color: transparent !important;
}
