@font-face {
    font-family: 'Regen';
      src:  url('font/Regen.ttf.woff') format('woff'),
      url('font/Regen.ttf.svg#Regen') format('svg'),
      url('font/Regen.ttf.eot'),
      url('font/Regen.eot?#iefix') format('embedded-opentype');
      font-weight: normal;
      font-style: normal;
}

@font-face {
    font-family: 'Digital-7 Mono';
    src: url('font/Digital-7Mono.eot');
    src: url('font/Digital-7Mono.eot?#iefix') format('embedded-opentype'),
        url('font/Digital-7Mono.woff') format('woff'),
        url('font/Digital-7Mono.svg#Digital-7Mono') format('svg');
    font-weight: normal;
    font-style: normal;
}

.mt-font {
    color: white;
    line-height: 1.2;
    font-family: "Regen";
    text-shadow: -2px 0 1px #000000, 0 2px 1px #000000, 2px 0 1px #000000, 0 -2px 1px #000000;
}

body {
    margin: 0;
    width: 1920px;
    height: 1080px;
}
